.header-container{
    padding: 12px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    align-items: center;
    gap: 30px;
}

.show-pointer{
    cursor: pointer;
}

.header-container .menu-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1;
}
.header-container .menu-container .item{
    background-color: transparent;
    padding: 8px;
    border: none;
}
@media screen and (max-width: 800px) {
    .header-container .menu-container{
        display: none;
    }
    .header-container .hamburger-menu-container{
        display: block;
        margin-left: auto
    }
}
@media screen and (min-width: 800px) {
    .header-container .menu-container{
        display: flex;
    }
    .header-container .hamburger-menu-container{
        display: none;
    }
    .header-container .menu-container .show-button-selection,
    .header-container .menu-container .item:hover{
        background-color: rgba(64,87,109,.07);
        color: rgb(29, 113, 141);
    }  
}
